

body{
    background-color:#e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    text-align: center;
    margin-bottom: 50px;
    padding:5px;
    border: solid 1px #000;
    border-radius:1em;
    background-color:#092327;
    color: white;
}

#main section{
    padding:10px;
}
#footer{
    text-align: center;
    margin-top: 50px;
    padding:5px;
    border: solid 1px #000;
    border-radius:1em;
    background-color:#092327;
    color: white;
}